# Ignore Mac system files
.DS_store
# Ignore css/bootstrap folder
CDClient/wwwroot/css

component-mockup/open-iconic-master
component-mockup/*css

# Ignore all text files
*.css

# Ignore files related to API keys
.env
# Ignore SASS config files
.sass-cache 