@page "/course"

<h1>Parent-child example</h1>
@*
<div class="panel-heading">@course.Name</div>
@foreach (var topic in course.Topics)
{
        <p>@topic.Name</p>
}
*@
@code {
    [Parameter]
    public Course course { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}